<header class="navbar">
        <div class="container navContent">
            <a href="/" class="logo">Rental Center</a>
            <nav>
                <ul class="navLinks">
                    <!-- Not logged in navbar -->
                    <% if (user === null) { %>
                        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
                        <li><a href="/browse" class="<%= path === '/browse' ? 'active' : '' %>">Browse</a></li>
                        <li><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a></li>
                        <li><a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Sign Up</a></li>

                    <!--User navbar-->
                    <% } else if (user.role === "user") { %>
                        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
                        <li><a href="/browse" class="<%= path === '/browse' ? 'active' : '' %>">Browse</a></li>
                        <li><a href="/rentOutForm" class="<%= path === '/rentOutForm' ? 'active' : '' %>">List Item</a></li>
                        <li><a href="/my_listings" class="<%= path === '/my_listings' ? 'active' : '' %>">My Listings</a></li>
                        <li><a href="/user_inbox" class="<%= path === '/user_inbox' ? 'active' : '' %>">Inbox</a></li>
                        <li><a href="/profile" class="<%= path === '/profile' ? 'active' : '' %>">Profile</a></li>
                        <li><a href="/logout" class="<%= path === '/logout' ? 'active' : '' %>">Logout</a></li>

                    <!-- Admin navbar -->
                    <% } else if (user.role === "admin") { %>
                        <li><a href="/admin_home" class="<%= path === '/admin_home' ? 'active' : '' %>">Home</a></li>
                        <li><a href="/browse" class="<%= path === '/browse' ? 'active' : '' %>">Browse</a></li>
                        <li><a href="/reports_dashboard" class="<%= path === '/reports_dashboard' ? 'active' : '' %>">Reports</a></li>
                        <li><a href="/user_list" class="<%= path === '/user_list' ? 'active' : '' %>">Users</a></li>
                        <li><a href="/admin_inbox" class="<%= path === '/admin_inbox' ? 'active' : '' %>">Inbox</a></li>
                        <li><a href="/logout" class="<%= path === '/logout' ? 'active' : '' %>">Logout</a></li>
                    <% } %>
                    
                </ul>
            </nav>
        </div>
    </header>