<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental System Item</title>
    <link rel="stylesheet" href="/stylesheets/item.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="background">
        <div class="border">
            <div class="container">
                <section>
                    <!--Header-->
                    <div class="item header">
                        <h1><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) %></h1>
                    </div>

                    <!--Image-->
                    <div class="item-image">
                        <img src="<%= item.imageUrl %>" alt="">
                    </div>
                    
                    <!--Item details-->
                    <div class="item-details">
                        <p><strong>Owner:</strong> <%= item.owner %></p>
                        <p><strong>Daily Rate:</strong> <%= item.dailyRate %></p>
                        <p><strong>Location:</strong> <%= item.location %></p>
                        <p><strong>Status:</strong> <%= item.status %></p>
                        <strong>Notes</strong>
                        <p> <%= item.details %> </p>
                    </div>

                    <div class="mainButtons">
                        <% if (item.status === 'Available') { %>
                            <a href="/checkout?itemId=<%= item.id %>" class="btn btnPrimary">Checkout</a>
                        <% } else { %>
                            <button class="btn btnPrimary" disabled>Currently Unavailable</button>
                        <% } %>
                        <a href="/report?itemId=<%= item._id %>" class="btn btnSecondary">Report Listing</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    

    <script src="../js/app.js"></script>
</body>
</html>