<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/stylesheets/order_history.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="background">
        <div class="border">
            <div class="container">
                <h1>Order History</h1>
                
                    <!--Create each order tile-->
                    <% orders.forEach(order => { %>
                    <div class="order-container">
                        <!--Order header (name, status)-->
                        <div class="order-header">
                            <h3 class="order-title"><%= order.item.name %></h3>
                            <div class="order-status">
                                <p><%= order.item.status %></p>
                            </div>    
                        </div>
                        
                        <img class="item-img" src="<%= order.item.image %>">

                        <!--Order details (owner, date ordered, total cost) -->
                        <div class="order-detail-header">
                            <p>Owner</p>
                            <p>Date Ordered</p>
                            <p>Estimated Total (1 Day)</p>
                        </div>
                        <div class="order-details">
                            <p><%= order.item.owner %></p>
                            <p><%= order.createdAt ? new Date(order.createdAt).toDateString() : 'N/A' %></p>
                            <p>$ <%= (order.total !== undefined && order.total !== null) ? order.total : 0 %></p>
                        </div>
                    </div>
                    <% }); %>

                
            </div>
        </div>
    </div>
</body>
</html>