<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/stylesheets/order_history.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="background">
        <div class="border">
            <div class="container">
                <h1>Order History</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Owner</th>
                            <th>Order Date</th>
                            <th>Cost</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order.item.name %></td>
                                <td><%= order.item.owner %></td>
                                <td><%= order.date.toLocaleDateString('en-US') %></td>
                                <td>$ <% if(isNaN(new Date(order.dateRet))) { %>
                                    <%= (Math.floor((order.dateRet - order.date) / (1000 * 60 * 60 * 24)))*order.item.dailyRate %>
                                 <% } else { %>
                                    <%= (Math.floor((new Date() - order.date) / (1000 * 60 * 60 * 24)))*order.item.dailyRate %>
                                <% } %>
                                </td>
                                <td><%= order.item.status %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>