<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Inbox</title>
    <link rel="stylesheet" href="/stylesheets/user_inbox.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="background">
        <div class="border">
            <div class="container">
                <h1>Inbox</h1>
                <div class="filter-row">
                    <h3 class="inbox_filter" data-tag="inform">Messages</h3>
                    <h3 class="inbox_filter" data-tag="order">Orders</h3>
                </div>
                <div class="inbox_container">
                    <div class="messages-list">
                        <% messages.forEach(message => { %>
                            <p 
                                data-sender="<%= message.sender.username %>"
                                data-type="<%= message.type %>"
                                data-message="<%= message.message %>"
                                class="message-item"><%= message.sender.username %></p>
                        <% }); %>
                    </div>
                    <div class="message-detail">
                        <p>Select a message to see details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/user_inbox.js"></script>
</body>
</html>